@import 'tailwindcss';

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-size-adjust: 100%;

  text-rendering: optimizeLegibility;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

@layer utilities {
  .bg-purple-a-700 {
    background: rgba(170, 0, 255, 1);
  }

  .bg-grey-200 {
    background: rgba(238, 238, 238, 1);
  }

  .bg-grey-900 {
    background: rgba(33, 33, 33, 1);
  }

  .border-purple-a-700 {
    border-color: rgba(170, 0, 255, 1);
  }

  .text-grey-900 {
    color: rgba(33, 33, 33, 1);
  }
}
